[submodule "gorust"]
	path = gorust
	url = https://github.com/EternityLabsAU/gorust
[submodule "mvecops"]
	path = mvecops
	url = https://github.com/EternityLabsAU/mvecops
[submodule "uotech"]
	path = uotech
	url = https://github.com/ejrks/uotech
